.desktop-label-nonempty-active {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(154, 154, 154, 0.7);
  border-radius: 4px;
}

.desktop-label-nonempty-inactive {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(96, 96, 96, 0.7);
  border-radius: 4px;
}

.desktop-label-empty-active {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(154, 154, 154, 0.7);
  border-radius: 4px;
}

.desktop-label-empty-inactive {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 4px;
}

