#display-message -p "Hallo"
#unbind C-b
set-option -g prefix2 C-\\
bind-key C-S send-prefix

# reload config file 
bind r source-file ~/.tmux.conf #; display-message "Reloaded config"

# don't automatically rename windows
set-option -g allow-rename off

# switch panes using Alt-arrow without prefix
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# split planes using ctrl-shift-arrow without prefix
bind -n M-S-Down split-window -v
bind -n M-S-Up split-window -vb
bind -n M-S-Right split-window -h
bind -n M-S-Left split-window -hb

# swap planes using ctrl-alt-arrow without prefix
bind -n C-M-Left swap-pane -D
bind -n C-M-Right swap-pane -D

# create a new window with ctrl-n
bind -n C-n new-window -n 'Page'
set-option -g focus-events on

# Enable mouse
set -g mouse on

  ###########
  # Styling #
  ###########

# panes
set -g pane-border-style 'fg=gray'
set -g pane-active-border-style 'fg=green'

# status bar
set -g status-position bottom
set -g status-justify left
set -g status-style 'fg=red'

# don't show 'tmux'
set -g status-left ''
set -g status-left-length 10

# status bar on the right
set -g status-right-style 'fg=white bg=#444444'
set -g status-right '#T #[bg=yellow, fg=black]%H:%M - %d.%m-%Y'
set -g status-right-length 70

# style of active window
setw -g window-status-current-style 'fg=black bg=red'
setw -g window-status-current-format ' #I #W #F '

# style of inactive windows
setw -g window-status-style 'fg=red bg=black'
setw -g window-status-format ' #I #[fg=white]#W #[fg=yellow]#F '
###########
# Startup #
###########
# todo

